<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <h2 class='navbar-brand name' style='color:white;'>Bhagpreet Brar</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerHeader" aria-controls="navbarTogglerHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id='navbarTogglerHeader'>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/resume">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tutoring">Tutoring</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/real-estate">Real Estate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>