<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <h2 class='navbar-brand name' style='color:white;'>Bhagpreet Brar</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerHeader" aria-controls="navbarTogglerHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id='navbarTogglerHeader'>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick='closeNavBar()' href="https://bhagpreet.github.io/Bhagpreet/assets/pdf/Resume.pdf" target='_blank'>Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/tutoring">Tutoring</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/real-estate">Real Estate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<script>
// Close Navbar when clicked outside
$(window).on('click', function(event){
    // element over which click was made
    var clickOver = $(event.target)
    if ($('.navbar .navbar-toggler').attr('aria-expanded') == 'true' && clickOver.closest('.navbar').length === 0) {
        // Click on navbar toggler button
        $('button[aria-expanded="true"]').click();
    }
});
</script>