table {
    width: 100%;
}

a:hover{
    color:black;
    text-decoration: none;
}

.mid{
    display: flex;
    justify-content: center;
}

.main-div{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    margin: auto;
}

.text-responsive {
  font-size: calc(0.8vw + 0.8vh);
}