<div class='mobile-space read' [@slideInOut]="isStarting ? 'enter' : 'leave'" class='main-div'>
        <mat-card class="example-card shadow-lg col-11">
            <mat-card-header class='justify-content-center'>
                <mat-card-title>Real Estate Investing</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    I'm particularly interested in the Inland Empire housing market, since I'm most familiar with this area, but I am willing to check out other 
                    areas with good job growth, appreciation, and great location. I would rather live closer to Hemet if possible, but if there are opportunities 
                    elsewhere I'm willing to move around. 
                </p>
                <p class='card-text'>
                    I'm a prospective investor of the housing market, currently learning the process of buying a home as I save for my first property.
                    I am planning on moving into the property at first, rennovating, and eventually turning the property into a rental. If you are an 
                    experienced investor or professional of the industry, I would appreciate any tips or tricks you may have for me. I'm always trying to learn more,
                    but please check out the contact page and send me an email if you are interested in working together or providing insight!   
                </p>
            </mat-card-content>
        </mat-card>
    </div>