<div [@slideInOut]="isStarting ? 'enter' : 'leave'" class='main-div'>
        <mat-card class="example-card shadow-lg col-11">
            <mat-card-header class='justify-content-center'>
                <mat-card-title>Real Estate Investing</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class='card-text'>
                    I'm a prospective investor of the housing market, currently learning the process of buying a home as I save for my first property.
                    I am planning on moving into the property at first, rennovating, and eventually turning the property into a rental. If you are an 
                    experienced investor, I would highly appreciate any tips or tricks you may have for me. If you are in the industry and eager to help 
                    a new investor as much as I am eager to begin my investing journey, please check out the contact page and send me an email!   
                </p>
                <p>
                    I'm particularly interested in the Inland Empire area, since I'm most familiar with the locations, but I am willing to check out other 
                    areas with good job growth, appreciation, and great location. 
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    