/* You can add global styles to this file, and also import other style files */
body{
    background: lightgray;
}

.card{
    width: 90%;
    border-color: black;
    margin: auto;
    margin-top: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"