<div [@slideInOut]="isStarting ? 'enter' : 'leave'" class='main-div'>
    <mat-card class="example-card shadow-lg col-11">
        <mat-card-header class='justify-content-center'>
            <mat-card-title>About Me</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class='card-text'>
                My name is Bhagpreet Brar, but my nickname is Preet for short. I was born and raised in Hemet, California. 
                I have a Bachelor of Science in Computer Science from the University of California, Riverside. I am currently a Software Engineer 
                in training at TCS, and on <a href='https://tutor.com/' target='_blank'>tutor.com</a> I work as an intermediate C++ tutor. 
            </p>    
            <p class='card-text'>My resume includes further details on my technical skills in CS. If you are looking to learn how to program or need math help, check 
                out my tutoring page! I am also very interested in real estate investing, saving for a property to purchase in the future. My personal
                interests include coding, gaming, reading, finance and more.
            </p>
        </mat-card-content>
    </mat-card>
</div>
